
body {
font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #CAD8B8;
background-image: url("/images/bkg.png"); 
background-repeat: no-repeat;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

span.key-term {
  color: #000;
  background-color:#bdd73c;
}

#page {
background-color: #CAD8B8;
width: 800px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#main {
background-color: white;
border: 2px solid #aaa;
padding: 25px;
width: 500px;
border-radius: 15px;
-moz-border-radius: 15px;
}

#sidebar {
float: right;
width: 225px;
}

a.sidebarinternallink {
    color: black ! important;
    text-decoration: underline ! important;
}

#header, #about, #tweet-analysis {
padding-left: 75px;
padding-right: 30px;
}


#header {
background-image: url("/images/squirrel_icon64.gif"); 
background-repeat: no-repeat;
background-position: top left;
height: 110px;
text-align: right;
}
#header h1, #header h2 {
    margin: 0;
}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}

#header a {
    color: black;
text-decoration: none;
}


#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#menu {
  right: 0px;
  top: 0px;
  float: right;
}
#menu a {
  background-color: #333;
}
#menu {
  font-size: 120%;
}
#menu ul {
  background-color: #228;
  color: #fff;
  margin: 0; padding: 0;
}
#menu ul li {
  display: inline;
}
#menu ul li a {
  float: left; text-decoration: none;
  color: white;
  padding: 4px 10px;
}
#menu ul li a:visited {
  color: white;
}
#menu ul li a:hover, .menu ul li .current {
  color: #000;
  background-color:#bdd73c;
}
#search, #masstagger p {
    text-size: 20px;
    padding: 10px;
}

#options-menu {
    right: 0px;
    top: 0px;
}

#about-content, #export, #search, #masstagger, #login_content, #register_content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -22px;
}

#export li {
    display: list-item;
}
#export a {
    font-size: 14px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}

#timeline-graph {
    width: 500px;
    height: 300px;
}

#tweet-analysis, #tweet-timeline {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#tweet-analysis h1 {
margin: 0;
font-size: 20px;
}
#tweet-analysis h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#tweet-analysis ol {
margin-left: 0;
padding-left: 0;
}
#tweet-analysis li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#tweet-analysis li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#tweet-analysis li p {
color: #555;
font-size: 13px;
}
.tags-list li {
    font-size: 13px ! important ;
    margin-bottom: 2px ! important;
}

#export li {
    margin-bottom: 2px ! important;
}

#timeline ul li a {
    color: blue;
    text-decoration: none;
}

#mentions ul li a {
    color: blue;
}
#hashtags ul li a {
    color: blue;
}

#search {
padding-top: 10px;
padding-bottom: 10px;
}

#sidebar a {
    color: black;
}

#sidebar a:hover {
  color: #000;
  background-color:#bdd73c;
}


#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #777E6E;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}


h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.2em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}

.tagslist {
    text-size: 10px ! important;
    margin-bottom: 0 ! important;
}

ul.NoBulletNoIndent {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px
}

#footer ul li {
  display: inline;
}
